.layer-popup.modal-dialog  {
    width: calc(100% - 1rem);
    padding-right: .5rem;
    padding-left: .5rem;
    max-width: 700px;
    .modal-content {
        background-color: $gray-900;
        color: $gray-400;
        .modal-header {
            position: relative;
            border: none;
            justify-content: space-between;
            padding: 20px 32px 5px 32px;
            .close-btn{
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                &::before {
                    content: '\00D7';
                    font-size: 54px;
                    color: white;
                    font-weight: 100;
                    line-height: 0.5;
                }
            }
        }
        .modal-body {
            padding: 12px 0;
            height: calc(100vh - 200px);
            overflow-y: auto;
            .modal-body-content {
                padding: 0 32px;
                .layer-card{
                    border:1px solid #484848;
                    border-radius: 4px;
                    &-header {
                        border-bottom: 1px solid #484848;
                        padding: 12px 32px;
                    }
                    &-content {
                        padding: 20px 32px;
                    }
                }
            }
        }
        .html-content {
            p {
                margin-bottom: 0.2rem;
            }
            img {
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 768px) {
            .modal-header,
            .modal-body .modal-body-content {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}