.event-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1;
    .card-image {
        position: relative;
        width: 100%;
        padding-bottom: 60%;
        height: 0;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #333;
        
        .card-type {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0px 8px;
            font-size: 13px;
            font-weight: bold;
            &.feature {
                background-color: #ff4444;
            }
            &.beatbox {
                background-color: #3955ff;
            }
            &.vinyl {
                background-color: #208839;
            }
        }
        &:hover {
            .overlay {
                display: flex;
            }
        }
    }
    .content-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        flex: 1;
        color: #fff;
        &.disabled {
            color: $gray-500;
        }
        .label {
            font-size: 14px;
            color: $gray-500;
            margin-bottom: 10px;
        }
        .content {
            font-size: 24px;
            margin-bottom: 40px;
            word-break: break-all;
            &.h-two-line {
                height: 47px;
            }
        }
        .date {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .description {
            font-size: 16px;
            margin-bottom: 20px;
            color: $gray-500;
            word-break: break-all;
            &.h-two-line {
                height: 32px;
            }
        }
        .button {
            font-size: 18px;
            line-height: 1;
            display: block;
            background-color: transparent;
            border: 1px solid $white;
            padding: 10px;
            color: #fff;
            text-decoration: none;
            &:hover {
                background-color: #fff;
                color: #000;
            }
            &.disabled {
                border: 1px solid $gray-500;
                background-color: transparent!important;
                color: $gray-500!important;
            }
        }
        .tag-container {
            color: $gray-500;
            span {
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
                border: 1px solid $gray-500;
                color: $gray-500;
                &:hover {
                    border: 1px solid #fff;
                    background-color: #fff;
                    color: $gray-900;
                }
            }
        }
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        @include mq('md'){
            background-color: rgba($color: #000000, $alpha: 0.5);
            display: none;
        }
        .play-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff66;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 14px;
            svg {
                margin-left: 3px;
            }
        }
    }
}

.feature-gallery-card {
    max-width: 280px;
    .image-wrapper {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
        .card-type {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0px 8px;
            font-size: 13px;
            font-weight: bold;
            &.feature {
                background-color: #ff4444;
            }
            &.beatbox {
                background-color: #3955ff;
            }
            &.vinyl {
                background-color: #208839;
            }
        }
    }

    .content-wrapper {
        // max-width: 280px;
        background-color: $gray-800;
        padding: 1rem;
        .title {
            font-weight: bold;
            color: #fff;
            margin-bottom: 0.5rem;
            height: 48px;
        }
        .description {
            margin-bottom: 0;
            color: $gray-300;
            font-size: 0.9rem;
        }
        .category {
            font-size: 0.9rem;
            color: $purple-100;
            margin-bottom: 0;
        }

        .tag-container {
            color: $primary;
            height: 52px;
            span {
                white-space: nowrap;
            }
        }
    }
}

.lib-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    .card-image {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        height: 0;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-wrapper {
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
}