.header {
    position: relative;
    background-color: $primary;
    color: #fff;
    .heading-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 28px;
        padding-bottom: 42px;
        position: relative;
        @include mq('md') {
            display: block;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 0px;
        }
        .logo {
            height: 24px;
            width: auto;
            @include mq('md') {
                height: 42px;
                margin-bottom: 40px;
            }
        }
        .user-menu {
            margin-left: auto;
            @include mq('md'){
                position: absolute;
                bottom: -24px;
                right: 0;
            }
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 24px;
                line-height: 1;
                @include mq('md') {
                    font-size: 18px;
                }
                li {
                    margin: 0 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.divider {
                        height: 17px;
                        border-right: 2px solid #fff;
                        @include mq('md'){
                            height: 12px;
                        }
                    }
                    a {
                        text-decoration: none;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .navigation-section {
        overflow-x: auto;
        overflow-y: hidden;
        @include mq('md'){
            padding: 0 160px;
            overflow: unset;
        }
        @include mq('lg'){
            padding: 0 220px;
        }
        .nav-menu {
            display: flex;
            max-width: 640px;
            align-items: baseline;
            justify-content: space-between;
            list-style: none;
            margin: 0 -5px;
            padding: 0;
            text-transform: uppercase;
            @include mq('md') {
                // max-width: 720px;
                max-width: 540px;
                margin-left: auto;
                margin-right: auto;
            }
            li.menu-item {
                font-size: 18px;
                line-height: 1;
                font-weight: bold;
                padding: 0px 5px 20px;
                margin: -1px 0;
                cursor: pointer;

                &.selected,
                &.active {
                    color: #989898; //$link-hover-color;
                }

                &.active {
                    .sub-menu {
                        display: block;
                    }
                }

                @include mq('md') {
                    position: relative;
                    font-size: 18px;
                    &.active {
                        color: #fff;
                        .sub-menu {
                            display: none;
                        }
                    }
                    &:hover {
                        color: #989898!important; //$link-hover-color!important;
                        .sub-menu {
                            display: block!important;
                        }
                    }
                }
            }
            li.divider {
                display: block;
                border-left: 1px solid white;
                border-right: 1px solid white;
                height: 12px;
                // margin-bottom: 22px;
                margin-left: 3px;
                margin-right: 3px;
                @include mq('md'){
                    height: 14px;    
                    // margin-bottom: 5px;
                }
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            left: 50%;
            bottom: 5px;
            z-index: 999;
            padding: 16px;
            width: 100vw;
            transform: translateX(-50%) translateY(100%);
            background-color: rgba($color: #000000, $alpha: 0.75);
            @include mq('md'){
                width: 168px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
                li {
                    font-size: 18px;
                    margin-bottom: 16px;
                    // @include mq('md') {
                    //     font-size: 18px;
                    // }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            color: #989898; //$link-hover-color;
                        }
                    }
                }
            }
        }
    }

    .header-search-box {
        background-color: #fff;
        border-radius: 50px;
        overflow: hidden;
        padding: 4px 12px;

        position: absolute;
        top: 24px;
        right: 24px;
        display: none;
        width: calc(100vw - 180px);
        max-width: 300px;
        &.active {
            display: block;
        }
        @include mq('md'){
            position: unset;
            display: block;
            margin-top: 20px;
            margin-left: auto;
            width: 150px;
        }
        @include mq('lg'){
            width: 210px;
        }
        input {
            width: calc(100% - 20px);
            font-size: 16px;
            border: 0;
            outline: 0;
        }
        svg {
            font-size: 16px!important;
            color: #000!important;
        }
    }
}