#main-page-content {
    .section-title {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: bold;
        text-align: center;
        @include mq('md'){
            margin-top: 120px;
        }
    }
    .main-medium-banner {
        margin-top: 50px;
        height: 108px;
        overflow: hidden;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .main-bottom-banner {
        width: 100%;
        height: auto;
        margin: 4rem 0;
    }
}